
<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta name="title" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" media="screen">

	<!-- Le styles -->
	<link href="/public/bootstrap.min.css" rel="stylesheet">
	<link href="/public/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

	<script type="text/javascript" src="/public/jquery.min.js"></script>
	<script type="text/javascript" src="/public/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/public/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<!-- https://www.bootcss.com/p/bootstrap-datetimepicker/ -->



</head>

<body >
<div class="container">
	
</div>

<script>
function getQueryVariable(variable){
       var query = window.location.search.substring(1);
       var  vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable) 
{
        return pair[1];
}
       }
       return(false);
}
//href - http://127.0.0.1:9678/default/menu/?layout=edit_menu
//pathname - /default/menu/
//search - ?layout=edit_menu
for (i in location) {
//	alert(i+" - " + location[i])
}




function showMsg(modal_id,data) {
	$(".modal-title").html("提示信息");
	$(".modal-body").html(data.msg);
	
	$(".modal-footer button[data-dismiss='modal']").click(function() {
		if(data.data.redirect_url) {
			location.href=data.data.redirect_url
		}
	});
	$('#'+modal_id).modal('show');	
}



// 设置指定url中param的值，返回处理后的url
function set_url_param(url,param,value){
	if(url.indexOf('?') != -1){  
	        var p = new RegExp("([\\?|&]{1}"+param+")=[^&]*");
			
	        if(p.test(url)){
				//alert(p + "," + url + "," + value)
	                url = url.replace(p,"$1="+value);
	        }else{
	                url = url+'&'+param+'='+value;
	        }
	}else{
	        url = url+'?'+param+'='+value;
	}
	return url;
}   



function pageHtml(total, pagesize) {
	var html = '<ul class="pagination">'
	page = getQueryVariable("page") 
	page = parseInt(page)
	if (!page || isNaN(page)) {
		page = 1
	}
	
	var total_page = Math.floor(total / pagesize)
	if (total_page != total / pagesize) {
		total_page++
	}
	var base_url = location.search
	var next_page = page + 1
	
	
	var first_url = set_url_param(base_url,"page",1)
	//return
	var last_url = set_url_param(base_url,"page",total_page)
	var start_page = 1
	
	if (page > 2) {
		start_page = page - 2
	}
	var last_page = start_page + 4
	if (last_page > total_page) {
		last_page = total_page
	}
	html +='<li><a href="'+first_url+'">&laquo;</a></li>'
	var curr_url=''
	var style_active = ''
	for (var i=start_page;i<= last_page;i++) {
		style_active = ''
		console.log(i +", "+ page)
		if (i == page) {
			style_active = 'active'
		}
		curr_url = set_url_param(base_url,"page",i)
		html +='<li class="'+style_active+'"><a href="'+curr_url+'">'+i+'</a></li>';
	}
	html +='<li><a href="'+last_url+'">&raquo;</a></li>'
	return html
}


function jump(url) {
    location.href = url 
}






var layout = getQueryVariable("layout")
if (!layout) {
	layout = "menu_list"
}

var v=getQueryVariable("v")



$.get("/default/menu/plugin/daohang.html?v=" + v, function(data) {
	$(".container").prepend(data)
	
	$.get("/default/menu/layout/"+layout+".html?v=" + v, function(data) {
		$(".menu").after(data)
	},"html")
},"html")






</script>
</body>
</html>
