<div class="col-md-10 column">
	<table class="table">
		<thead>
			<tr>
				<th>
					ID
				</th>
				<th>
					时间
				</th>
				<th>
					菜单列表
				</th>
				<th>
					操作
				</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
	
	<div class="mypage"></div>
</div>

<script>
$(function() {
	getDataStart()
});

function getDataStart() {
	$.get("/history_menu/list"+location.search, function(data) {
		var str="";
		
		for (i in data["data"]["list"]) {
			str +="<tr><td>"+data["data"]["list"][i]["id"]+"</td><td>"+data["data"]["list"][i]["what_time_format"]+"</td><td>"+data["data"]["list"][i]["menu_id_list_format"]+"</td><td>Default</td></tr>";
		}
		$("tbody").html(str);
		
		var page_html = pageHtml(data.data.count,data.data.pagesize);
		$(".mypage").html(page_html)
	},"json");
}
</script>