
<div class="col-md-12 column ">
	<form class="form-horizontal formflag" role="form" action="/menu/save">
		<div class="form-group">
			 <label for="inputEmail3" class="col-sm-2 control-label">菜单名称</label>
			<div class="col-sm-10">
				<input type="text" name="title" class="form-control" id="inputEmail3" />
			</div>
		</div>
		
		
		<menu_pos id="menu_pos_menu_id"/>
		<div class="form-group">
			 <label for="" class="col-sm-2 control-label">食材列表</label>
			<div class="col-sm-10">
						
			</div>
		</div>
		
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input type="hidden" name="menu_id_list" value="" />
				 <button type="submit" class="btn btn-default">提交</button>
			</div>
		</div>
		
	
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">菜单all列表</label>
			<div class="col-sm-10 "  id="menu_all_list">
						
			</div>
		</div>
		
	</form>
	
	
	
	
	
	<div class="hide modal_position"></div>

	
	
	
</div>


<script>

$(function() {
	$.get(getTemplateUrl("/default/menu/plugin/modal.html"), function(data) {
		$(".modal_position").replaceWith(data);
	},'html');
	
	
	//所有食材
	$.get(getApiUrl("/go_menu/api/food/list_all") , function(data) {
		var str="";
		for (i in data["data"]["list"]) {		
			str += "<button type='button' class='btn btn-sm btn_menu_id' style='margin-bottom:3px;'  value='"+data["data"]["list"][i]["id"]+"'>"+ data["data"]["list"][i]["title"] +"</button>&nbsp;&nbsp;";
		}
		$("#menu_pos_menu_id").next("div").children("div").html(str);
		
		$(".btn_menu_id").click(function() {
			$(this).toggleClass("btn-success");
			var menu_checked_list=""
			$(".btn_menu_id.btn-success").each(function() {
				menu_checked_list+=","+$(this).val();
			});
			$("input[name='menu_id_list']").val(menu_checked_list);
			//alert(menu_checked_list)
		});
		
	},"json");
	
	
	//提交表单
	$("form.formflag").submit(function() {
		var url=$("form.formflag").attr("action")
		var modal_id="modal-container-415722"
		$.ajax({
			url:getApiUrl(url),
			data:$("form.formflag").serialize(),
			mehtod:"get",
			dataType:"json",
			success:function(data) {
				showMsg(modal_id,data);
			},
			complete:function(data) {
				
			},
			beforeSend:function(xhr) {
				
			}
		});
		return false
	});
	
	//筛选菜单
		$("#inputEmail3").keyup(function() {
		var val = $("#inputEmail3").val()
		$.get(getApiUrl("/go_menu/api/menu/list_all")+"&search_key="+val , function(data) {
			var str="";
			for (i in data["data"]["list"]) {		
				str += "<span  class='label label-info '>"+data["data"]["list"][i]["title"]+"</span>&nbsp;&nbsp;";
			}
			$("#menu_all_list").html(str);
		},"json");
	});
	$("#inputEmail3").trigger("keyup");
	
});

</script>

		
		
<style>
/* menu/list_all?search_key 样式 */
#menu_all_list span.label-info {
	
	display:inline-block;

}
#menu_all_list span.label-info em {
	color:orange;

}
</style>
