<div class="col-md-10 column">
	<table class="table">
		<thead>
			<tr>
				<th>
					ID
				</th>
				<th>
					名称
				</th>
				<th>
					创建时间
				</th>
				<th>
					食材
				</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
	<div class="mypage"></div>
</div>

<script>
$(function() {
	getDataStart()
});

function getDataStart() {
	
	$.get("/menu/list" + location.search, function(data) {
		var str="";
		
		for (i in data["data"]["list"]) {
			str +="<tr><td>"+data["data"]["list"][i]["id"]+"</td><td>"+data["data"]["list"][i]["title"]+"</td><td>"+data["data"]["list"][i]["create_ts_format"]+"</td>";
			str +="<td>"+data["data"]["list"][i]["extra_format"]["menu_id_list"]+"</td></tr>"
		}
		$("tbody").html(str);
		
		var page_html = pageHtml(data.data.count,data.data.pagesize);
		$(".mypage").html(page_html)
		
	},"json");
}
</script>